
<form action="http://localhost:8080/api/signup", method="post">
  <input name="username" value="username" />
  <input name="email" value="email" />
  <input name="password" value="password" />
  <button value="submit">Registrarse</button>
</form>