<div>
  <h1>Super Chat Chatero</h1>
  <input id="caja" type="text" />
  <div id="contenido" ></div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/static/js/index.js"></script>