<form action="http://localhost:8080/api/recover" method="post">
  <input type="text" name="email" value="email" />
  <input type="text" name="password" value="password" />
  <button value="submit">Recuperar Contraseña</button>
</form>