<form action="http://localhost:8080/api/signup" method="post">
  <input type="text" name="first_name" value="first_name" />
  <input type="text" name="last_name" value="last_name" />
  <input type="text" name="email" value="email" />
  <input type="number" name="age" value="age" />
  <input type="text" name="password" value="password" />
  <button value="submit">Registrarse</button>
</form>