<h1>Cookie Generator</h1>

<input id="nombre" />
<input id="valor" />

<button id="getCookies" value="button">getCookies</button>
<button id="setCookies" value="button">setCookies</button>

<script src="/js/index.js"></script>