<div>
  Todo listo para websockets!
</div>

<div>
  <input type="text" id="caja" />
</div>

<div id="contenido">

</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>