<form action="http://localhost:8080/session/login" method="post">
  <input name="email" type="text" value="jacinto3@email.com" />
  <input name="password" type="text" value="123" />
  <button value="submit">Logear</button>
</form>